<div id="modal">
  <form id="delete-comment" class="hidden">
    <h3>Delete Comment</h3>
    <p>Are you sure you want to delete this comment?</p>

    <footer>
      <button class="gray cancel">Cancel</button>
      <button class="blue delete">Delete</button>
    </footer>
  </form>
</div>
