<div id="content-container">
  <%= render 'static_pages/modal' %>
  <div id="content">

  </div>
</div>

<script type="text/javascript">
(function(root) {
  root.Assets = {
    "logo": "<%= image_path('logo.png') %>",
    "authToken": "<%= form_authenticity_token %>"
  };

  var currentUser = JSON.parse('<%= current_user.as_json.html_safe %>')
  Actions.receiveCurrentUser(currentUser);

})(this);
</script>
