.comment-box {
  width: calc(100% - 24px);
  background: #f6f7f8;
  color: #141823;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  padding: 8px 12px 8px 12px;
}

.comment-form {
  width: 100%;
  height: 32px;
}

.profile-thumb {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  margin-right: 8px;
}

.profile-thumb:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.comment-form {
  margin-top: 4px;
}

.comment-form > input[type="text"] {
  padding: 7px 3px 7px 5px;
  border: 1px solid #dcdee3;
  background: #fff;
  cursor: text;
  flex-grow: 1;
  flex-shrink: 1;
}

.comments-list > li {
  width: 100%;
  padding: 4px 0;
}

.comment {
  flex-align: flex-start;
  text-align: left;
}

.comment-list > li:first-of-type {
  padding-top: 0;
}

.comment-body {
  flex: 1 1 auto;
}

.comment-body > .author-name {
  color: #3b5998;
  cursor: pointer;
  font-weight: 700;
  margin-right: 4px;
}

.author-name:hover {
  text-decoration: underline;
}

div.profile-thumb {
  background: #a4a4a4;
}

.delete-comment, .edit-comment {
  display: none;
  position: relative;
  width: 12px;
  height: 12px;
  background: image-url("fb_icons3.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -91px -409px;
}

.comment:hover > .delete-comment, .comment:hover > .edit-comment {
  display: block;
}

.delete-comment:hover {
  background-position: -117px -409px;
}

.edit-comment:hover:before {
  white-space: nowrap;
}
