.comment-box {
  width: calc(100% - 24px);
  background: #f6f7f8;
  color: #141823;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  padding: 8px 12px 8px 12px;
}

.comment-form {
  width: 100%;
  height: 32px;
}

.profile-thumb {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  margin-right: 8px;
}

.profile-thumb:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.comment-form {
  margin-top: 4px;
}

.comment-form > input[type="text"] {
  padding: 7px 3px 7px 5px;
  border: 1px solid #dcdee3;
  background: #fff;
  cursor: text;
  flex-grow: 1;
  flex-shrink: 1;
}

.comments-list > li {
  width: 100%;
  padding: 4px 0;
}

.comment {
  flex-align: flex-start;
  text-align: left;
  position: relative;
}

.comment-list > li:first-of-type {
  padding-top: 0;
}

.comment-body {
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow: hidden;
}

.comment-body > .author-name {
  color: #3b5998;
  cursor: pointer;
  font-weight: 700;
  margin-right: 4px;
}

.author-name:hover {
  text-decoration: underline;
}

div.profile-thumb {
  background: #a4a4a4;
}

.delete-comment, .edit-comment > a {
  display: none;
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
}

.delete-comment {
  width: 12px;
  height: 12px;
  background: image-url("fb_icons3.png");
  background-position: -91px -409px;
}

.comment:hover > .delete-comment,
.comment:hover > .edit-comment > a,
.edit-comment > a.activated {
  display: block;
}

.delete-comment:hover {
  background-position: -117px -409px;
}

.edit-comment.drop-down {
  top: 0;
  right: 0;
}

.edit-comment > a {
  width: 10px;
  height: 10px;
  background: image-url("fb_icons.png");
  background-position: -12px -72px;
}

.edit-comment > a:hover {
  background-position: -34px -72px;
}

.edit-comment > a:active {
  background-position: -23px -72px;
}

.edit-comment:hover:before {
  white-space: nowrap;
}

.edit-comment > ul {
  right: -14px;
  top: 19px;
}

.edit-comment > ul:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 11px;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  z-index: 10;
}

.edit-comment > ul:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 10px;
  border-bottom: 9px solid rgba(0, 0, 0, .15);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.edit-comment.drop-down > ul > li:hover {
  background-color: #3B5998;
}


.edit-comment-form {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.edit-comment-form > div {
  width: 100%;
}

.edit-comment-form textarea {
  background: #fff;
  border: 1px solid #dcdee3;
  height: auto;
  min-height: 32px;
  padding: 7px 5px 7px 3px;
  width: calc(100% - 16px);
  word-wrap: break-word;
}

.cancel-edit {
  font-size: 9px;
  color: #3b5998;
  cursor: pointer;
}

.cancel-edit:hover {
  text-decoration: underline;
}
