body {
  background-color: #fff;
  font-family: helvetica, arial, sans-serif;
  color: #141823;
  word-wrap: break-word;
}

#content-container {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

#content {
  display: table-row;
  width: 100%;
  height: 100%;
  background-color: #E9EAED;
  position: relative;
}
