body {
  background-color: #fff;
  font-family: helvetica, arial, sans-serif;
  color: #141823;
}

#content {
  width: 100%;
  min-height: 100%;
  background-color: #E9EAED;
}

.header {
  height: 42px;
  width: 100%;
  background-color: #3a5795;
  border-bottom: 1px solid #133783;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}

.header-nav {
  width: 981px;
  height: 100%;
  margin: auto;
}

.header-logo {
  float: left;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  margin-top: 7px;
  background-image: image-url("logo.png");
  background-size: contain;
}

.header-search-bar {
  float: left;
  width: 448px;
  height: 26px;
  margin-top: 8px;
}

input.header-search {
  flex-grow: 1;
  padding-left: 5px;
  height: 24px;
  border: 0;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  background-color: #fff;
}

.search-button {
  background-color: #f6f7f8;
  width: 46px;
  height: 24px;
  border: 0;
  border-radius: 0px 4px 4px 0px;
}

.magnifying-glass {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  background-image: image-url("fb_sprite.png");
  background-position: -19px -238px;
  background-size: auto;
}

.nav-link-list {
  float: right;
  justify-content: flex-end;
  height: 27px;
  margin-top: 9px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.nav-link {
  padding: 0 6px 0 12px;
  height: 100%;
}

.nav-link:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.logout-form {
  height: 100%;
}

.nav-link a, .logout-button {
  display: block;
  height: 100%;
}

.nav-link div:not(.center) {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.main-container {
  background-color: #E9EAED;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 13px;
}

.side-nav {
  width: 172px;
}

.feed {
  width: 496px;
  margin: 0 10px;
}

.aside {
  width: 278px;
}
