.search-submit-row {
  color: #5890ff;
  padding-right: 10px;
  border-top: 1px solid #e9eaed;
}

.search-submit-icon {
  width: 32px;
  height: 32px;
  background: image-url("fb_icons6.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -771px;
  margin: 4px 8px 0 6px;
}
