.search-submit-row {
  color: #5890ff;
  padding-right: 10px;
  border-top: 1px solid #e9eaed;
}

.no-result .search-submit-row {
  border: 0;
}

.search-submit-icon {
  width: 32px;
  height: 32px;
  background: image-url("fb_icons6.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -771px;
  margin: 4px 8px 0 6px;
}

.search-result-list {
  width: calc(100% - 2px);
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}

.search-result-list > li {
  padding: 12px;
  width: calc(100% - 24px);
  border-bottom: 1px solid #e7e8eb;
}

.search-result-list > li:last-of-type {
  border-bottom: 0;
}

.user-search-result .friend-body a {
  color: #141823;
}

.user-search-result .friend-body a:hover {
  text-decoration: none;
}

.search-results-title {
  font-weight: bold;
}

.blank-search {
  align-items: center;
}

.blank-search p {
  font-size: 14px;
  text-align: left;
  flex: 1 1 auto;
  max-width: 338px;
}

.search-text {
  font-weight: bold;
}

.blank-search-icon {
  display: block;
  padding: 7px;
  margin-right: 16px;
  width: 86px;
  height: 86px;
  background: image-url("blank-search.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.search-subheader {
  font-size: 12px;
  font-weight: 300;
  color: #a4a4a4;
}

.subheader-title {
  font-weight: 400;
  margin-right: 3px;
}
