.users-page {
  width: 851px;
  height: 100%;
  margin: auto;
}

.users-page-side-nav {
  width: 321px;
}

.users-page-side-nav > article {
  width: calc(100% - 2px);
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
}

.users-side-nav-header {
  width: 100%;
  height: 36px;
  color: #9197a3;
  background-color: #f6f7f8;
  border-bottom: 1px solid #e9eaed;
  border-radius: 2px 2px 0 0;
  align-items: center;
}

.users-side-nav-header > * {
  display: inline-block;
  font-size: 11px;
}

.users-side-nav-header > h3 {
  color: #4e5665;
  padding-left: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.users-side-nav-header > small:before {
  content:  "·";
  margin: 0 3px;
}

.users-page h1 {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.users-cover {
  width: calc(100% - 2px);
  height: 357px;
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
  background: #fff;
  position: relative;
  margin-bottom: 16px;
}

.cover-photo {
  width: calc(100% - 2px);
  height: 313px;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0,0,0,.4);
  border-top-color: rgba(0, 0, 0, .1);
}

.user-page-nav {
  justify-content: flex-start;
  padding-left: 201px;
  height: 43px;
}

.user-page-nav a {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 17px;
  color: #3b5998;
  font-weight: 700;
  font-size: 14px;
  border-right: 1px solid #e9eaed;
}

.user-page-nav a:first-child {
  border-left: 1px solid #e9eaed;
}

.user-page-nav a:hover {
  background: #f6f7f8;
  height: calc(100% - 2px);
  position: relative;
  top: 1px;
}

.user-page-nav a.active {
  color: #373e4d;
}

.user-page-nav a.active:hover {
  background: #fff;
}

.user-page-nav a.active:before, .user-page-nav a.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 8px solid #E9EAED;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.user-page-nav a.active:hover:before, .user-page-nav a.active:hover:after {
  bottom: -1px;
}

.user-page-nav a.active:before {
  border-bottom: 9px solid #d3d6db;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  z-index: 10;
}

.profile-picture {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 19px;
  left: 17px;
  border: 4px solid #fff;
  border-radius: 2px;
  background: #a4a4a4;
}

.profile-picture:after {
  content: "";
  width: 168px;
  height: 168px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.users-cover .user-name {
  position: absolute;
  bottom: 60px;
  left: 201px;
  width: 275px;
  height: 60px;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 700;
}

.user-friend-nav {
  position: absolute;
  right: 16px;
  bottom: 58px;
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: 700;
  background: #f6f7f8;
  height: 26px;
}

.user-friend-nav button, .friend-status-button {
  height: 100%;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.friend-status-button {
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: 700;
  background: #f6f7f8;
  height: 26px;
  white-space: nowrap;
}

.user-friends-thumbs {
  width: calc(100% - 3px);
  padding: 0 3px 3px 0;
  flex-wrap: wrap;
  max-height: 315px;
  overflow: hidden;
}

.friend-thumb {
  width: 102px;
  height: 102px;
  background-color: #a4a4a4;
  margin: 3px 0 0 3px;
}
