.arrow-after {
  position: relative;
  margin-right: 13px;
}

.arrow-after:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid #4e5665;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  left: calc(100% + 4px);
  top: 50%;
  transform: translateY(-50%);
}

.check-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: image-url("fb_icons3.png");
  background-size: auto;
  background-position: -52px -411px;
}

.cancel-x-icon {
  display: block;
  background: image-url("fb_icons3.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -91px -408px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.cancel-x-icon:hover {
  background-position: -117px -408px;
}

.cancel-x-icon:active {
  background-position: -104px -408px;
}
