.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.hidden {
  display: none;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-up-vertical {
  position: relative;
  top: 38%;
  transform: translateY(-50%);
}

.center-vertical-ib {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.upcase {
  text-transform: uppercase;
}

.drop-down-container {
  position: relative;
}

.drop-down {
  position: absolute;
  top: 10px;
  right: 7px;
}

.drop-down a {
  display: block;
  height: 20px;
  width: 17px;
  background: image-url("fb_icons.png");
  background-position: -2px -11px;
}

.drop-down a:hover {
  background-position: -23px -11px;
}

.drop-down > ul {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  padding: 5px 0;
  font-size: 12px;
}


.drop-down > ul > li {
  width: calc(100% - 24px);
  height: 24px;
  padding: 0 12px;
  cursor: pointer;
  white-space: nowrap;
}

.drop-down > ul > li:hover {
  background-color: #42599E;
  color: #fff;
}

button.blue {
  border-color: #435a8b #3c5488 #334c83;
  background-color: #4e69a2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}


.hover-bubble {
  position: relative;
}

.hover-bubble:hover:before, .hover-bubble-above:hover:before {
  content: attr( data-hover );
  height: 21px;
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: #2B2B2B;
  border-radius: 2px;
  padding: 7px 8px 0 8px;
  font-weight: 400;
  letter-spacing: 0;
  text-shadow: none;
  color: #fff;
  z-index: 30;
}

.hover-bubble:hover:after, .hover-bubble-above:hover:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 30;
  top: 100%;
  left: 0;
  transform: translateX(50%);
  height: 0px;
  width: 0px;
  border-bottom: 5px solid #2B2B2B;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.hover-bubble-above:hover:before, .hover-bubble-above:hover:after {
  top: auto;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hover-bubble-above:hover:before {
  bottom: calc(100% + 4px);
}

.hover-bubble-above:hover:after {
  border-bottom: 0;
  border-top: 5px solid #000;
}

.hover-drop-down-container {
  position: relative;
}

.hover-drop-down {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 50;
}

.hover-drop-down-container:hover > .hover-drop-down {
  display: block;
}

.hover-drop-down > ul {
  position: relative;
  top: 13px;
  left: 0;
  background-color: #fff;
  border: 1px solid #8C8C8C;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  padding: 8px 0;
  font-size: 12px;
  color: #141823;
  text-align: left;
  font-weight: 400;
  text-shadow: none;
}

.hover-drop-down > ul:before {
  content: "";
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  bottom: 100%;
  left: 14px;
  z-index: 20;
}

.hover-drop-down > ul:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #8C8C8C;
  position: absolute;
  bottom: 100%;
  left: 13px;
  z-index: 10;
}

.hover-drop-down li {
  width: calc(100% - 46px);
  height: 20px;
  padding: 0 23px;
  cursor: pointer;
  white-space: nowrap;
}

.hover-drop-down li:hover {
  background-color: #6D84B4;
  color: #fff;
}

.wide-drop-down {
  min-width: 190px;
}

.arrow-after {
  position: relative;
  margin-right: 13px;
}

.arrow-after:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid #4e5665;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  left: calc(100% + 4px);
  top: 50%;
  transform: translateY(-50%);
}

.check-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: image-url("fb_icons3.png");
  background-size: auto;
  background-position: -52px -411px;
}
