.friends-index {
  width: calc(100% - 2px);
  background-color: #fff;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  margin-bottom: 31px;
}

.friends-header {
  background-color: #f6f7f8;
  padding: 16px 12px;
  border-bottom: 1px solid #d3d6db;
}

.friends-header h2 {
  font-size: 20px;
  font-weight: 700;
  color: #373e4d;
  display: flex;
  align-items: flex-end;
}

.friends-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: image-url("fb_friends_icon.png");
  background-size: contain;
  margin-right: 9px;
}
