.posts-index {
  width: 510px;
}

.post-form {
  background-color: #F6F7F8;
  width: calc(100% - 2px);
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-bottom: 17px;
}

.post-form-nav {
  width: calc(100% - 24px);
  padding: 10px 12px 8px 12px;
  height: 16px;
  border-bottom: 1px solid #dcdee3;
  font-size: 12px;
  font-weight: 600;
}

.post-form-nav button {
  height: 16px;
}

.post-form-nav .label {
  display: inline-block;
  position: relative;
  bottom: 3px;
}

.label.active:after, .label.active:before {
  content: "";
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.label.active:before {
  border-bottom-color: #e9eaed;
  bottom: -8px;
}

.post-form textarea {
  width: calc(100% - 26px);
  height: 43px;
  padding: 13px 12px;
  background-color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #dcdee3;
}

.post-form-sub-nav {
  width: 100%;
  height: 40px;
  justify-content: flex-end;
}

.post-form-sub-nav button {
  height: 22px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  border: 1px solid;
  border-radius: 2px;
  width: auto;
  white-space: nowrap;
  margin-left: 4px;
}

.post-form-sub-nav button[type="submit"] {
  padding: 0 16px;
  margin-right: 8px;
  background-color: #4e69a2;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  border-color: #435a8b #3c5488 #334c83;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.post-form-sub-nav button[disabled] {
  opacity: 0.5;
}

.edit-post {
  border-color: #b1bdd6;
  background: #fff;
}

.edit-post textarea {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.edit-post .post-form-sub-nav {
  border-top: 1px solid #e9eaed;
  height: 34px;
  background: #F6F7F8;
}

.post-form.edit-post button {
  padding: 0 8px;
}

.edit-post button[type="submit"] {
  letter-spacing: 0.04em;
}

button.gray {
  border-color: #cccccc #c5c6c8 #b6b7b9;
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
  background-color: #f6f7f8;
  font-weight: 600;
}

.post-icon {
  width: 17px;
  height: 16px;
  background-image: image-url("fb_icons.png");
  background-position: -139px -34px;
  display: inline-block;
  margin-right: 5px;
}

.posts-list {
  width: 100%;
}

.posts-list > li {
  width: calc(100% - 26px);
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 3px;
  padding: 12px;
  padding-bottom: 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.post {

}

.post .drop-down {
  top: -2px;
  right: -5px;
}

.author-details {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 11px;
}

.author-details a {
  display: block;
}

.author-details a:hover {
  text-decoration: underline;
}

.user-link {
  color: #3b5998;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}

.post-link {
  color: #9197a3;
  font-size: 12px;
}

.post .body {
  font-size: 14px;
  margin-bottom: 12px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  background-color: #585858;
  margin-right: 9px;
}
