.header {
  height: 42px;
  width: 100%;
  background-color: #3a5795;
  border-bottom: 1px solid #133783;
}

.header-nav {
  width: 981px;
  height: 100%;
  margin: auto;
}

.header-logo img {
  height: 100%;
}

.timeline-main {
  background-color: #E9EAED;
  width: 100%;
}
