.users-page {
  width: 851px;
  height: 100%;
  margin: auto;
}

.users-page-side-nav {
  width: 321px;
  height: 500px;
  background-color: orange;
}

.users-page h1 {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.users-cover {
  width: calc(100% - 2px);
  height: 357px;
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
  background: #fff;
  position: relative;
  margin-bottom: 16px;
}

.cover-photo {
  width: calc(100% - 2px);
  height: 313px;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0,0,0,.4);
  border-top-color: rgba(0, 0, 0, .1);
}

.user-page-nav {
  justify-content: flex-start;
  padding-left: 201px;
  height: 43px;
}

.user-page-nav a {
  display: block;
  height: 100%;
  padding: 0 17px;
  color: #3b5998;
  font-weight: 700;
  font-size: 14px;
  border-right: 1px solid #e9eaed;
}

.user-page-nav a:first-child {
  border-left: 1px solid #e9eaed;
}

.user-page-nav a:hover {
  background: #f6f7f8;
  height: calc(100% - 2px);
  position: relative;
  top: 1px;
}

.user-page-nav a.active {
  color: #373e4d;
}

.user-page-nav a.active:hover {
  background: #fff;
}

.profile-picture {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 19px;
  left: 17px;
  border: 4px solid #fff;
  border-radius: 2px;
  background: #a4a4a4;
}

.profile-picture:after {
  content: "";
  width: 168px;
  height: 168px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.users-cover .user-name {
  position: absolute;
  bottom: 60px;
  left: 201px;
  width: 275px;
  height: 60px;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 700;
}

.user-friend-nav {
  position: absolute;
  right: 16px;
  bottom: 58px;
  color: #4e5665;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: 700;
  background: #f6f7f8;
  height: 26px;
}

.user-friend-nav button {
  height: 100%;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
