.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container-start {
  display: flex;
  justify-content: flex-start;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-up-vertical {
  position: relative;
  top: 38%;
  transform: translateY(-50%);
}
